Body {
        background-color: white
}

Body:hover {
        background-color: red
}

@-webkit-keyframes example {
   from { transform: scale(1.0); }
   to   { transform: scale(3.0); }
}

.colorbox {
   margin: auto;
   width: 100%;
   color: black;
   font-size: 100px;
   font-family: Helvetica;
   font-weight: 600;
   vertical-align: middle;
   text-align: center;
   margin-top: 400px;
   letter-spacing: -0.05em;
}

.colorbox:hover{
        -webkit-animation-name: example;
        -webkit-animation-duration: 0.2s;
        -webkit-animation-timing-function: ease; /* ease is the default */
        -webkit-animation-delay: 0s;             /* 0 is the default */
        -webkit-animation-iteration-count: 2;    /* 1 is the default */
        -webkit-animation-direction: alternate;  /* normal is the default */
        font-style: italic;
        animation-iteration-count: infinite;
        color: yellow;
}
