body {
	background: linear-gradient(to right, #519459 25%, #293f50 75%);
}

h1 {
	color: #50351a;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 54px;
	font-weight: bold;
}

p{
	color: #937b63;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	line-height: 1.4em
}

ul{
	color: #937b63;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	line-height: 1.4em
}

h2{
	color: #50351a;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h3{
	color: #50351a;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h4{
	color: #50351a;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}