body {

	background-color: #f2f2f2;
}

h4 { 
	font-family: 'Roboto', sans-serif; 
	font-weight: 700; 
	color: #7c6433;
	line-height: 1.35em;
	letter-spacing: 0.2px;
}

p {
	font-family:'Times New Roman';
	font-size: 17px;
	line-height: 1.3em;
	letter-spacing: 0.2px;
	color: #3c2901;
}