.box1 {
        background-color: black;
        color: yellow;
        font-size: 100px;
        width: 1000px;
        height:200px;
        font-family: serif;
        margin-top: 20px;
        padding: 30px;
        text-align: center;
}

.box2 {
        background-color: yellow;
        color: black;
        font-size: 30px;
        width: 100px;
        height:70px;
        font-family: helvetica;
        font-weight: bolder;
        margin-bottom: 300px;
        padding: 10px;
        text-align: center;
}
